<%= "Here are all the Turkeys"%>

<% @turkeys.each do |turkey|%>
  <h1><p>Name: <%= turkey.name%></p></h1>
  <p>Weight: <%= turkey.weight%></p>
  <p>Size: <%= turkey.size%></p>
  <p>Gobbles: <%= turkey.gobbles%></p>
<% end %>